.blog {
  padding: 50px 15px;

  .galleryWrap {
    margin-top: 50px;
  }

  .galleryTitle {
    margin-bottom: 15px;
  }

  @media only screen and (min-width: 768px) {
    padding: 100px 25px;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
}
