.footer {
  background-color: var(--background-card);
  transition: background 1s;
  color: var(--text-secondary);
  text-align: center;
  padding: 25px;

  .socialMedia {
    margin-bottom: 5px;
    i {
      font-size: 2rem;
      margin: 0 5px;
      color: var(--text-secondary);
    }
  }

  small {
    font-size: 0.7rem;
  }
}
