.section {
  padding: 50px 15px;
}

@media only screen and (min-width: 768px) {
  .column-left {
    order: 1;
  }

  .column-right {
    order: 2;
  }

  .section {
    padding: 100px 25px;
  }

  .row {
    display: flex;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }
}
