.about {
  padding: 50px 15px;

  a {
    color: var(--accent);
  }

  .row {
    margin-top: 50px;
  }

  .columnLeft {
    margin-bottom: 50px;

    p {
      margin: 10px 0;
    }
  }

  .columnRight {
    .imageContainer {
      display: flex;
      justify-content: center;

      img {
        border-radius: 50%;
      }
    }
  }

  @media only screen and (min-width: 1000px) {
    padding: 100px 25px;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .columnLeft {
      align-self: center;
      width: 40%;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
      margin-bottom: 0;
    }

    .columnRight {
      width: 60%;
      margin: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
