.about {
  padding: 50px 15px;

  .row {
    margin-top: 50px;
  }

  .columnLeft {
    p {
      margin: 10px 0;
    }
  }

  .columnRight {
    &.profilePic {
      max-width: 350px;
      max-height: 350px;
      text-align: center;
      margin: auto;

      img {
        border-radius: 50%;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 100px 25px;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .columnLeft {
      align-self: center;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
    }

    .columnRight {
      width: 40%;
      margin: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
