.blog {
  padding: 50px 15px;

  .galleryTitle {
    margin-bottom: 15px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 50px 50px 0;
  }

  @media only screen and (min-width: 768px) {
    padding: 100px 25px;
    height: 100vh;

    .container {
      max-width: 1200px;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .row {
      display: flex;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
}
