.footer {
  background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
  color: #fff;
  text-align: center;
  padding: 25px;
}

.footer .social-media {
  margin-bottom: 5px;
}

.footer .social-media i {
  font-size: 2rem;
  margin: 0 5px;
  color: white;
}
