.greetings {
  padding: 50px 15px;

  .ctaButtons {
    margin-top: 35px;
    display: flex;
  }

  .ctaButtons {
    a {
      margin-right: 15px;
    }
  }

  .columnRight {
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    margin: auto;
  }

  .profilePic {
    margin: 0 auto 50px;
  }

  .columnRight {
    &.profilePic {
      img {
        border-radius: 50%;
        margin: auto;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .columnLeft {
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 60%;
      /* padding-right: 100px; */
      margin-bottom: unset;
    }

    .columnRight {
      width: 40%;
      margin: auto;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 100px 25px;

    .columnLeft {
      order: 1;
    }

    .columnRight {
      order: 2;
    }

    .row {
      display: flex;
    }

    .container {
      max-width: 1200px;
      margin: auto;
    }
  }
}
