.portfolioGallery {
  text-align: center;
}

.portfolioGallery {
  padding: 50px 15px;

  .galleryWrap {
    margin-top: 50px;
  }

  .galleryTitle {
    margin-bottom: 15px;
  }

  .card {
    border-radius: 5px;
    padding: 25px;
    border: 1px solid #cecece;
    margin-bottom: 25px;

    h4 {
      margin: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 100px 25px;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 25px;
    }

    .card {
      margin-bottom: unset;
    }
  }
}
