.portfolioGallery {
  padding: 50px 15px;

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 50px 50px 0;
  }

  .galleryWrap {
    margin-top: 50px;
  }

  .galleryTitle {
    margin-bottom: 15px;
  }

  .card {
    border-radius: 5px;
    padding: 25px;
    border: 1px solid #cecece;
    margin-bottom: 25px;

    h4 {
      margin: 0;
    }

    .portfolioLinks {
      display: flex;
      flex-direction: row;

      a {
        margin-right: 15px;
        color: #f4494e;
      }

      a:hover {
        color: #000;
      }

      i {
        margin-right: 5px;
        color: #000;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 50px 15px 0;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
    }

    .card {
      margin-bottom: unset;
    }
  }
}
