.projectsGallery {
  min-height: 100vh;
  padding: 50px 15px;

  h1 {
    text-align: center;
  }

  .filter {
    p {
      text-align: center;
    }

    .filterButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      button {
        margin: 2px;
      }
    }
  }

  .galleryWrap {
    margin-top: 50px;
  }

  @media only screen and (min-width: 768px) {
    padding: 50px 15px;

    .container {
      max-width: 1200px;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
  }
}
