.project {
  background-color: var(--background-card);
  transition: background 1s;
  margin: 50px 50px 0 0;
  border: 1px solid var(--border-light);
  border-radius: 5px;
  padding: 25px;
  min-width: 100%;

  h3 {
    margin-bottom: 0;
    color: var(--text-secondary);
  }

  small {
    font-style: italic;
    color: var(--text-tertiary);
  }

  .columnLeft {
    .description {
      margin: 25px 0;
    }

    .projectLinks {
      margin-top: auto;
      a {
        margin-right: 15px;
        color: var(--accent);
        display: block;
        padding: 15px 15px 15px 0;
      }

      a:hover {
        color: var(--text-primary);
      }

      i {
        width: 20px;
        margin-right: 5px;
        color: var(--text-primary);
      }
    }
  }

  .columnRight {
    max-width: 500px;
    margin: 25px auto 0;

    .card {
      pointer-events: none;
      border: 1px solid #ffffff0d;
      border-radius: 5px;
      overflow: hidden;

      img {
        height: 100%;
        border-radius: 5px;
      }

      //NEXT.JS's img spans
      span {
        display: block !important;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .row {
      display: flex;
    }

    .columnLeft {
      order: 1;
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 25px;
    }

    .columnRight {
      order: 2;
      width: 50%;
      margin: 0;
      margin-left: auto;
    }
  }

  @media only screen and (min-width: 1020px) {
    .projectLinks {
      display: flex;
      flex-direction: row;
    }
  }
}
