.projectDetail {
  h1 {
    margin-bottom: 0;
    color: var(--text-secondary);
  }

  h2 {
    font-size: 1.3rem;
    color: var(--text-secondary);
  }

  small {
    color: var(--text-tertiary);
    display: block;
    margin-bottom: 25px;
  }

  a {
    color: var(--text-tertiary);
  }

  strong {
    background: #cecece;
    padding: 0 4px;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .card {
    border-radius: 5px;
    padding: 25px;
    background-color: var(--background-card);
    transition: background 1s;
    border: 1px solid var(--border-card);
    margin: 25px 0;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      color: var(--text-secondary);
    }

    time {
      color: var(--text-tertiary);
    }

    .cardAction {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      a {
        color: var(--accent);
      }
    }
  }

  .description {
    max-width: 1000px;
    border-radius: 5px;
    padding: 25px;
    background-color: var(--background-card);
    transition: background 1s;
    border: 1px solid var(--border-card);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (min-width: 768px) {
    .card {
      margin-bottom: unset;
    }
  }

  .projectLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    a {
      margin-right: 15px;
      color: var(--accent);
    }

    a:hover {
      color: var(--text-primary);
    }

    i {
      margin-right: 5px;
      color: var(--text-primary);
    }
  }

  //Code collapse
  details > summary span {
    transition: all 0.3s;
    margin-left: 5px;
  }

  details[open] summary span {
    transform: rotate(90deg);
  }

  summary {
    display: flex;
    width: 100px;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
