:root {
  --background: whitesmoke;
  --background-card: #ffffff;
  --background-secondary: #8bb2c3;
  --text-primary: black;
  --text-secondary: #6e6d7a;
  --text-tertiary: #8bb2c3;
  --accent: #f4494e;
  --transparent-primary: #fffffff2;
  --transparent-secondary: #fffffffc;
  --border: #f8f8f8;
  --border-light: #6464640d;
  --border-card: #cecece;
  --button-color: #687886;
  --button-border: #687886;
  --gradient-primary: #8bb2c3;
  --gradient-secondary: #aab8c5;
}
[data-theme='dark'] {
  --background: #22272e;
  --background-card: #373e47;
  --background-secondary: #efe3cf;
  --text-primary: #adbac7;
  --text-secondary: #efe3cf;
  --text-tertiary: #8bb2c3;
  --accent: #ff787e;
  --transparent-primary: #2d333bed;
  --transparent-secondary: #242729fc;
  --border: #4b5154;
  --border-light: #ffffff0d;
  --border-card: #4b5154;
  --button-color: #efe3cf;
  --button-border: #687886;
  --gradient-primary: #8bb2c3;
  --gradient-secondary: #aab8c5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
  transition: background 2s;
  min-height: 100vh;
}

* {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  color: var(--text-secondary);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 15px 25px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);

  &.active {
    color: black;
    background-color: var(--background-secondary);
  }

  &.sm {
    width: unset;
    padding: 5px 10px;
  }
}

.btn-outlined {
  background-color: transparent;
  color: var(--button-color);
  border: 1px solid var(--button-border);
}

.btn-filled {
  color: #fff;
  background-image: linear-gradient(
    310deg,
    var(--gradient-primary),
    var(--gradient-secondary)
  );
}

@media only screen and (min-width: 480px) {
  .btn {
    width: unset;
  }
}

.section {
  padding: 50px 15px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 25px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .row {
    display: flex;
  }
}
