// Swiper fix
.projectDetail {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    // bottom: -30px !important;
    background-color: var(--transparent-primary);
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--border-card);
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: calc(50% - 100px);
  }

  // .swiper-button-next,
  // .swiper-rtl .swiper-button-prev {
  //   background-color: var(--transparent-primary);
  //   padding: 25px;
  //   border-radius: 6px;
  //   border: 1px solid var(--border-card);
  // }

  // .swiper-button-prev,
  // .swiper-rtl .swiper-button-next {
  //   background-color: var(--transparent-primary);
  //   padding: 25px;
  //   border-radius: 6px;
  //   border: 1px solid var(--border-card);
  // }
}

// .swiper-pagination-bullet {
//   padding: 5px;
// }

.swiper-pagination-bullet {
  background-color: var(--background-secondary) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--background-secondary) !important;
}

.featuredProjects {
  .swiper-3d .swiper-slide-shadow,
  .swiper-3d .swiper-slide-shadow-bottom,
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right,
  .swiper-3d .swiper-slide-shadow-top {
    border-radius: 5px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -15px !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -15px !important;
  }
}

.projectDetail {
  // .swiper {
  //   margin: 50px;
  // }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
