.app {
  color: var(--text-primary);
  background-color: var(--background);
  transition: background 1s;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 25px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .row {
    display: flex;
  }
}

.iconScroll {
  display: none;
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .iconScrollContainer {
    .iconScroll {
      position: relative;
      margin: auto;
      display: block;
      width: 20px;
      height: 40px;
      border: 2px solid var(--border-card);
      border-radius: 25px;
    }

    .iconScroll:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 8px;
      height: 8px;
      background: var(--text-secondary);
      margin-left: -4px;
      top: 2px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
    @keyframes scroll {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(26px);
      }
    }
  }
}
