.text-center {
  text-align: center;
}

.mvh-100 {
  min-height: 100vh;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-25 {
  margin-right: 25px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.section {
  padding: 50px 15px;
}
